<html>
<head>
    <meta charset="utf-8">
    <style type="text/css">
        hr {
            border: 1px solid #999;
            margin: 12px 0;
        }

        a {
            text-decoration: none;
            color: #00aad6;
        }
    </style>
</head>
<body>
<p>
    <img src="http://www.clewed.com/themes/maennaco/images/index_logo.jpg"/>
</p>
<hr/>
<p>{{ firstname }},</p>

<p>
    Welcome! It’s an honor you have joined us to start your project on Clewed. Meet, transact and work with the world’s talent privately on-demand. To get started:
</p>
<ol>
    <li>Login and complete the About page of your account to tell us about your project </li>
    <li>Complete the short questions in your Diligence tab to help us clarify and attract the right people to your project </li>
    <li>
        Add Files as you like to tell us more and for convenience
    </li>
</ol>

<p>
    Except for a general and anonymous description of your project, all your information is private used by your project admin to target the right professionals. After experts are selected and vetted for your specific project, access to your information is provided to them on a need to know basis, after an NDA and your approval.
</p>

<p>
    Please feel free to contact us at <a href="mailto:clewed@clewed.com">clewed@clewed.com</a> anytime for any questions. We will follow up to demonstrate how it works more fully.
</p>

<p>The Clewed Team!</p>
</body>
</html>