<html>
<head>
    <meta charset="utf-8">
    <style type="text/css">
        hr {
            border: 1px solid #999;
            margin: 12px 0;
        }

        a {
            text-decoration: none;
            color: #00aad6;
        }
    </style>
</head>
<body>
<p>
    <img src="http://www.clewed.com/themes/maennaco/images/index_logo.jpg"/>
</p>
<hr/>
<p>{{ firstname }},</p>
<p>
    Welcome! It’s an honor you have joined us to find and share business expertise and collaborate with experts more easily. Connect, get work done and more!
</p>
<ol>
    <li>Login and complete your profile to be visible when you join projects, list or buy services and more</li>
    <li>To get help on a project, create a separate project account or email us about it at <a href="mailto:clewed@clewed.com">clewed@clewed.com</a></li>
    <li>To start selling as an expert, simply begin creating "Offers" from your account's Offers page. We'll help you complete it </li>
</ol>

<p>
    We will follow up to show you how it works and get you started shortly. Please email questions or comments anytime to <a href="mailto:clewed@clewed.com">clewed@clewed.com</a>. We look forward to serving you.
</p>

<p>The Clewed Team!</p>
</body>
</html>